.Card {
  width: 300px; /* Tamanho */
  height: 179px; /* Altura */
  display: flex; /* Alinhamento  */
  flex-direction: column; /* Alinhamento em coluna  */
  align-items: center; /* Centralizar os elementos */
  color: rgb(130, 129, 129); /* cor do texto */
  font-family: sans-serif; /* Tipo de fonte */
  gap: 10px; /* Separador dos elementos */
  border-radius: 6px; /* Arredondamento das bordas */
  padding: 10px 0px; /* Distanciamento das bordas */
  justify-content: space-between; /*espaçamento igual entre os elementos */
  cursor: pointer;  /*seta de cursor */ 
  transition: 0.3s ease-in-out; /*lentidão do mouse */
  text-decoration: none;




}
.Card:hover{
background-color: rgb(255, 255, 255, 0.1);
}
.Card span {
  color: #FFFFFF;
  font-size: 16px; /* Tamanho da fonte */
}
.Card img {
  width: 80px; /* Tamanho da imagem */
  height: 80px; /* Altura da imagem */
}

.Card p {
  color:#F8FAFC;
  font-size: 14px; /* Tamanho da fonte */
}
