.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 2rem;
    color: var(--textColor);
    width: 100%;
}
nav a{
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
    font-size: 16px;

}
nav a:hover{
color: var(--secondaryColor);
}


