*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
 :root{
    --primaryColor:#27272a;
    --secondaryColor: white;
    --textColor: white;
    font-size: 12px;
    font-family: sans-serif;
}
.Container-Global{
display:flex;
flex-direction: column;
justify-content: space-between;
height: 100vh;
}
.Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    gap: 40px;
    color: hsl(0, 0%, 33%);
}
.Container-Cards{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
   justify-content: center;
   max-width: 1500px;

}
h1{

}
